<h1>Ruby Roulette</h1>
<div id="wrapper">
  <div class="button">
    <img src="http://i41.tinypic.com/fm6mj8.gif" id="moving" class="on">
    <br><br>
    <h2>Click the roulette wheel to be enlightened.</h2>
  </div>
  <div id="methods">
    <div class="method">
      <%= render 'roulette/include' %>
    </div>

    <div class="method">
      <%= render 'roulette/inject' %>
    </div>

    <div class="method">
      <%= render 'roulette/fetch' %>
    </div>

    <div class="method">
      <%= render 'roulette/invert' %>
    </div>

    <div class="method">
      <%= render 'roulette/empty' %>
    </div>

    <div class="method">
      <%= render 'roulette/index' %>
    </div>

    <div class="method">
      <%= render 'roulette/slice' %>
    </div>

    <div class="method">
      <%= render 'roulette/koans' %>
    </div>

    <div class="method">
      <%= render 'roulette/poignantguide' %>
    </div>

    <div class="method">
      <%= render 'roulette/flatten' %>
    </div>

  </div>
</div>​


<!-- JQuery script to animate the roulette wheel -->

<script>
$(document).ready(function() {

  $('#moving').click(function() {
    var images = ['http://i43.tinypic.com/20ti15z.gif', 'http://i42.tinypic.com/2wogbb7.gif', 'http://i42.tinypic.com/293j8nc.gif', 'http://i44.tinypic.com/1zz749f.gif', 'http://i42.tinypic.com/x4j7fo.gif', 'http://i39.tinypic.com/apjrc2.gif'];
    var randomImage = images[Math.floor(Math.random() * images.length)];
    if ($(this).attr("class") == "on") {
      this.src = randomImage;
    } else {
      this.src = "http://i41.tinypic.com/fm6mj8.gif";
    }
    $(this).toggleClass("on");

    var methods = $('#methods .method');

    if (methods.is(":visible")) {
      methods.hide();
    }
    else {
      var rand = Math.floor(Math.random() * methods.length);
      methods.eq(rand).show();
    }
  });
})
</script>